.appContainer {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addNote {
  font-family: sans-serif;
  margin: 10%;
  font-size: 1.5em;
}

.addNote ion-icon {
  margin-left: 5%;
  color: red;
  font-size: 1.5rem;
}
