.appContainer {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addNote {
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  margin: 10%;
  font-size: 1.5em;
  position: relative;
}

.addNote ion-icon {
  position: absolute;
  top: -300%;
  right: 9%;
  color: red;
  font-size: 3rem;
}
