.cardContainer {
  height: 40%;
  width: 21%;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 0 3px #ccc;


}

.colorBar {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 7%;
  width: 100%;
}

.titleBar {
  height: 20%;
  width: 100%;
  font-size: 1.25em;
  border-bottom: 1px solid #DCDDDE;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleText {
  margin: .5em;
  font-family: sans-serif;
  color: #4E6676;
}

.text {
  white-space: pre-wrap;
  margin: .5em;
  font-family: sans-serif;
  color: #4E6676;
}

ion-icon {
  color: #DCDDDE;
}

ion-icon:hover {
  color: #56B6BF;
}
