.selectedCardContainer {
  background-color: #fefefe;
  margin: 10% auto;
  border: 1px solid #888;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.colorBar {
  width: 100%;
  height: 3%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.colorChoices {
  margin-left: 1em;
  height: 18%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.color {
  height: 1.5em;
  width: 1.5em;
  border-radius: 5px;
}

/*.color:focus {
  border: 1px solid black;
}*/

#pink {
  background-color: #FAA8B0;
}

#green {
  background-color: #B6ECD1;
}

#orange {
  background-color: #FBDBAE;
}

#blue {
  background-color: #AECCFB;
}


textarea {
  width: 98%;
  border: none;
  font-family: sans-serif;
  height: auto;
  font-size: 2.5em;
  margin-left: 2%;
  color: #DBDBDB;
}


input {
  width: 98%;
  border: none;
  font-family: sans-serif;
  height: auto;
  font-size: 2.5em;
  margin-left: 2%;
  color: #DBDBDB;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.cardTitleInput {
  padding: 3% 0;
  font-size: 1.5em;
  font-style: italic;
}

.cardTextInput {
  padding: 10% 0;
  font-size: 1em;
  height: 80%;
  margin-bottom: 40%;
}

.buttonsContainer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FAFAFA;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.button {
  font-family: sans-serif;
  color: white;
  background-color: #56B6BF;
  border-radius: 5px;
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}
